In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [ ]:
pip install numpy

In [ ]:
pip install pandas

In [ ]:
selling_price = pd.read_csv('sell_prices.csv')
calendar = pd.read_csv('calendar.csv')

In [ ]:
sell_calendar_merge = pd.merge(selling_price, calendar, on='wm_yr_wk')

In [ ]:
sell_calendar_merge['id']= sell_calendar_merge['item_id'] + '_'+sell_calendar_merge['store_id']

In [ ]:
sell_calendar_merge.to_csv('sell_calendar.csv')

In [ ]:
sell_calendar = pd.read_csv('sell_calendar.csv')

In [ ]:
sell_calendar = sell_calendar.drop(sell_calendar.columns[0],axis=1)

In [ ]:
sell_calendar[['prefix', 'number']] = sell_calendar['d'].str.split('_', expand=True)

In [ ]:
sell_calendar = sell_calendar.drop(sell_calendar.columns[9],axis=1)

In [ ]:
sell_calendar['number'] = sell_calendar['number'].astype(int)

In [ ]:
selected_sell_calendar = sell_calendar.loc[sell_calendar['number'] <= 1913]

In [ ]:
selected_sell_calendar = selected_sell_calendar.reset_index(drop=True)

In [ ]:
selected_sell_calendar.to_csv('selected_sell_calendar.csv')

In [ ]:
selected_sell_calendar_hobbies = selected_sell_calendar[selected_sell_calendar.iloc[:, 0].str.contains('HOBBIES')]

In [ ]:
selected_sell_calendar_foods = selected_sell_calendar[selected_sell_calendar.iloc[:, 0].str.contains('FOODS')]

In [ ]:
selected_sell_calendar_households  = selected_sell_calendar[selected_sell_calendar.iloc[:, 0].str.contains('HOUSEHOLD')]

In [ ]:
selected_sell_calendar_hobbies = selected_sell_calendar_hobbies.reset_index(drop=True)

In [ ]:
selected_sell_calendar_foods = selected_sell_calendar_foods.reset_index(drop=True)
selected_sell_calendar_households = selected_sell_calendar_households.reset_index(drop=True)
selected_sell_calendar_hobbies.to_csv('selected_sell_calendar_hobbies.csv')
selected_sell_calendar_foods.to_csv('selected_sell_calendar_foods')
selected_sell_calendar_households.to_csv('selected_sell_calendar_households')
sales_train_validation = pd.read_csv('sales_train_validation.csv')
for i in range(len(sales_train_validation['id'])):
    sales_train_validation['id'][i] = sales_train_validation['id'][i].rstrip('_validation')
hobbies_sales = sales_train_validation.loc[sales_train_validation['cat_id'] == 'HOBBIES'].set_index('id')
foods_sales = sales_train_validation.loc[sales_train_validation['cat_id'] == 'FOODS'].set_index('id')
households_sales = sales_train_validation.loc[sales_train_validation['cat_id'] == 'HOUSEHOLD'].set_index('id')
for i in range(len(selected_sell_calendar_hobbies['id'])):
    selected_sell_calendar_hobbies.at[i, 'amount'] = hobbies_sales.loc[selected_sell_calendar_hobbies['id'][i],selected_sell_calendar_hobbies['d'][i]]

In [ ]:
for i in range(len(selected_sell_calendar_households['id'])):
    selected_sell_calendar_households.at[i, 'amount'] = households_sales.loc[selected_sell_calendar_households['id'][i],selected_sell_calendar_households['d'][i]]

In [ ]:
for i in range(len(selected_sell_calendar_foods['id'])):
    selected_sell_calendar_foods.at[i, 'amount'] = foods_sales.loc[selected_sell_calendar_foods['id'][i],selected_sell_calendar_foods['d'][i]]

In [ ]:
selected_sell_calendar_hobbies.to_csv('final_sell_calendar_hobbies.csv')

In [ ]:
selected_sell_calendar_households.to_csv('final_sell_calendar_households.csv')

In [ ]:
selected_sell_calendar_foods.to_csv('final_sell_calendar_foods.csv')

In [ ]:
sales_train_validation = pd.read_csv('sales_train_validation.csv')

In [ ]:
sales = pd.read_csv('sales_train_evaluation.csv')
calendar = pd.read_csv('calendar.csv')
prices = pd.read_csv('sell_prices.csv')

In [ ]:
#Downcast in order to save memory
def downcast(df):
    cols = df.dtypes.index.tolist()
    types = df.dtypes.values.tolist()
    for i,t in enumerate(types):
        if 'int' in str(t):
            if df[cols[i]].min() > np.iinfo(np.int8).min and df[cols[i]].max() < np.iinfo(np.int8).max:
                df[cols[i]] = df[cols[i]].astype(np.int8)
            elif df[cols[i]].min() > np.iinfo(np.int16).min and df[cols[i]].max() < np.iinfo(np.int16).max:
                df[cols[i]] = df[cols[i]].astype(np.int16)
            elif df[cols[i]].min() > np.iinfo(np.int32).min and df[cols[i]].max() < np.iinfo(np.int32).max:
                df[cols[i]] = df[cols[i]].astype(np.int32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.int64)
        elif 'float' in str(t):
            if df[cols[i]].min() > np.finfo(np.float16).min and df[cols[i]].max() < np.finfo(np.float16).max:
                df[cols[i]] = df[cols[i]].astype(np.float16)
            elif df[cols[i]].min() > np.finfo(np.float32).min and df[cols[i]].max() < np.finfo(np.float32).max:
                df[cols[i]] = df[cols[i]].astype(np.float32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.float64)
        elif t == object:
            if cols[i] == 'date':
                df[cols[i]] = pd.to_datetime(df[cols[i]], format='%Y-%m-%d')
            else:
                df[cols[i]] = df[cols[i]].astype('category')
    return df

In [ ]:
sales = downcast(sales)
prices = downcast(prices)
calendar = downcast(calendar)

In [ ]:
df = pd.melt(sales, id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], var_name='d', value_name='sold')

In [ ]:
df=pd.read_csv("hobbies.csv")

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
def downcast(df):
    cols = df.dtypes.index.tolist()
    types = df.dtypes.values.tolist()
    for i,t in enumerate(types):
        if 'int' in str(t):
            if df[cols[i]].min() > np.iinfo(np.int8).min and df[cols[i]].max() < np.iinfo(np.int8).max:
                df[cols[i]] = df[cols[i]].astype(np.int8)
            elif df[cols[i]].min() > np.iinfo(np.int16).min and df[cols[i]].max() < np.iinfo(np.int16).max:
                df[cols[i]] = df[cols[i]].astype(np.int16)
            elif df[cols[i]].min() > np.iinfo(np.int32).min and df[cols[i]].max() < np.iinfo(np.int32).max:
                df[cols[i]] = df[cols[i]].astype(np.int32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.int64)
        elif 'float' in str(t):
            if df[cols[i]].min() > np.finfo(np.float16).min and df[cols[i]].max() < np.finfo(np.float16).max:
                df[cols[i]] = df[cols[i]].astype(np.float16)
            elif df[cols[i]].min() > np.finfo(np.float32).min and df[cols[i]].max() < np.finfo(np.float32).max:
                df[cols[i]] = df[cols[i]].astype(np.float32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.float64)
        elif t == object:
            if cols[i] == 'date':
                df[cols[i]] = pd.to_datetime(df[cols[i]], format='%Y-%m-%d')
            else:
                df[cols[i]] = df[cols[i]].astype('category')
    return df

In [ ]:
df=downcast(df)

In [ ]:
sum(df.memory_usage())

In [ ]:
df2=df.groupby(['ID','YearMonth','Category','State_ID'])

In [ ]:
test=df2.aggregate({'Quantity':np.sum,'Price':np.mean})

In [ ]:
test.head()

In [ ]:
first_values = sorted(pd.DataFrame([t[0] for t in test2.index])[0].unique())

In [ ]:
first_values

In [ ]:
test2.loc[first_values[0]]['sold'].to_list()

In [50]:
x=pd.read_csv("hobby.csv")

In [51]:
def ped1(group):
    X = sm.add_constant(group['sell_price'])
    model = sm.OLS(group['sold'], X).fit()
    price_coef = model.params['sell_price']
    mean_sellprice = np.mean(group['sell_price'])
    mean_quantity = np.mean(group['sold'])
    ped = price_coef * (mean_sellprice / mean_quantity)

    return ped

In [ ]:
print(x.groupby(['cat_id']).apply(ped1))

In [45]:
x

,id,cat_id,store_id,sold,YearMonth,date,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,HOBBIES_1_266_WI_1,HOBBIES,WI_1,0,2014-04,2014-04-04,NaN,NaN,NaN,NaN,1,0,0,4.66
1,HOBBIES_1_070_CA_4,HOBBIES,CA_4,0,2013-03,2013-03-31,Easter,Cultural,NaN,NaN,0,0,0,5.88
2,HOBBIES_2_027_CA_1,HOBBIES,CA_1,0,2015-07,2015-07-31,NaN,NaN,NaN,NaN,0,0,0,1.97
3,HOBBIES_1_346_CA_4,HOBBIES,CA_4,0,2015-03,2015-03-10,NaN,NaN,NaN,NaN,1,0,0,3.97
4,HOBBIES_2_011_TX_1,HOBBIES,TX_1,0,2012-07,2012-07-26,NaN,NaN,NaN,NaN,0,0,0,0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8800880,HOBBIES_1_343_TX_3,HOBBIES,TX_3,3,2016-02,2016-02-06,NaN,NaN,NaN,NaN,1,1,1,5.32
8800881,HOBBIES_1_053_TX_3,HOBBIES,TX_3,0,2014-08,2014-08-10,NaN,NaN,NaN,NaN,1,0,0,3.97
8800882,HOBBIES_1_274_CA_1,HOBBIES,CA_1,0,2012-12,2012-12-18,NaN,NaN,NaN,NaN,0,0,0,9.88
8800883,HOBBIES_1_231_CA_2,HOBBIES,CA_2,1,2012-06,2012-06-22,NaN,NaN,NaN,NaN,0,0,0,6.87
8800884,HOBBIES_1_424_CA_3,HOBBIES,CA_3,0,2016-03,2016-03-02,NaN,NaN,NaN,NaN,1,0,1,1.77

In [ ]:
def calc_ped(grouped,values,disc):
    final=[]
    for i in range(len(values)):
        X = sm.add_constant(grouped.loc[values[i]]['sell_price'])
        model = sm.OLS(grouped.loc[values[i]]['sold'], X).fit()
        mean_sellprice = np.mean(grouped.loc[values[i]]['sell_price'])
        mean_quantity = np.mean(grouped.loc[values[i]]['sold'])
        ped = model.params['sell_price'] * (mean_sellprice / mean_quantity)
        last_quantity=grouped.loc[values[i]]['sold'].iloc[-1]
        last_price=grouped.loc[values[i]]['sell_price'].iloc[-1]
        new_quantity=last_quantity*(1+ped*(last_price*((100-disc)/100)-last_price)/last_price)
        cat=grouped.loc[values[i]].index[0][1]
        state=grouped.loc[values[i]].index[0][2]
        final.append([values[i],cat,state,-abs(ped),abs(new_quantity)])
    final=pd.DataFrame(final,columns=["Product ID","Category","State ID","Predicted PED","Predicted Quantity"])
    return final

In [7]:
test2=x.aggregate({'sold':np.sum,'sell_price':np.mean})

C:\Users\lywt9\AppData\Local\Temp\ipykernel_26336\2949952999.py:1: FutureWarning: The provided callable <function sum at 0x0000024839732160> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  test2=x.aggregate({'sold':np.sum,'sell_price':np.mean})
C:\Users\lywt9\AppData\Local\Temp\ipykernel_26336\2949952999.py:1: FutureWarning: The provided callable <function mean at 0x0000024839733240> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  test2=x.aggregate({'sold':np.sum,'sell_price':np.mean})

In [8]:
test2

            sold  sell_price
cat_id
HOBBIES  6240656    5.329587

In [ ]:
df[df['ID']=='HOBBIES_1_001_CA_1_validation']

In [ ]:
X = sm.add_constant(test2['sell_price'])

In [ ]:
test2['sold']

In [ ]:
model = sm.OLS(test2['sold'], X).fit()

In [ ]:
model.summary()

In [ ]:
model.params