In [1]:
import pandas as pd
import math
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.compat import lzip

In [2]:
import matplotlib.pyplot as plt
import numpy as np

In [3]:
sales_train_evaluation = pd.read_csv('sales_train_evaluation.csv')

In [4]:
sales_train_validation = pd.read_csv('sales_train_validation.csv')

In [5]:
sell_prices=pd.read_csv('sell_prices.csv')

In [6]:
sell_prices.head

<bound method NDFrame.head of         store_id        item_id  wm_yr_wk  sell_price
0           CA_1  HOBBIES_1_001     11325        9.58
1           CA_1  HOBBIES_1_001     11326        9.58
2           CA_1  HOBBIES_1_001     11327        8.26
3           CA_1  HOBBIES_1_001     11328        8.26
4           CA_1  HOBBIES_1_001     11329        8.26
...          ...            ...       ...         ...
6841116     WI_3    FOODS_3_827     11617        1.00
6841117     WI_3    FOODS_3_827     11618        1.00
6841118     WI_3    FOODS_3_827     11619        1.00
6841119     WI_3    FOODS_3_827     11620        1.00
6841120     WI_3    FOODS_3_827     11621        1.00

[6841121 rows x 4 columns]>

In [7]:
sales_train_validation.head

<bound method NDFrame.head of                                   id        item_id    dept_id   cat_id  \
0      HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  HOBBIES_1  HOBBIES
1      HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  HOBBIES_1  HOBBIES
2      HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  HOBBIES_1  HOBBIES
3      HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  HOBBIES_1  HOBBIES
4      HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  HOBBIES_1  HOBBIES
...                              ...            ...        ...      ...
30485    FOODS_3_823_WI_3_validation    FOODS_3_823    FOODS_3    FOODS
30486    FOODS_3_824_WI_3_validation    FOODS_3_824    FOODS_3    FOODS
30487    FOODS_3_825_WI_3_validation    FOODS_3_825    FOODS_3    FOODS
30488    FOODS_3_826_WI_3_validation    FOODS_3_826    FOODS_3    FOODS
30489    FOODS_3_827_WI_3_validation    FOODS_3_827    FOODS_3    FOODS

      store_id state_id  d_1  d_2  d_3  d_4  ...  d_1904  d_1905  d_1906  \
0         CA_1       CA    0    0    0    0  ...       1       3       0
1         CA_1       CA    0    0    0    0  ...       0       0       0
2         CA_1       CA    0    0    0    0  ...       2       1       2
3         CA_1       CA    0    0    0    0  ...       1       0       5
4         CA_1       CA    0    0    0    0  ...       2       1       1
...        ...      ...  ...  ...  ...  ...  ...     ...     ...     ...
30485     WI_3       WI    0    0    2    2  ...       2       0       0
30486     WI_3       WI    0    0    0    0  ...       0       0       0
30487     WI_3       WI    0    6    0    2  ...       2       1       0
30488     WI_3       WI    0    0    0    0  ...       0       0       1
30489     WI_3       WI    0    0    0    0  ...       0       0       0

       d_1907  d_1908  d_1909  d_1910  d_1911  d_1912  d_1913
0           1       1       1       3       0       1       1
1           0       0       1       0       0       0       0
2           1       1       1       0       1       1       1
3           4       1       0       1       3       7       2
4           0       1       1       2       2       2       4
...       ...     ...     ...     ...     ...     ...     ...
30485       0       0       0       1       0       0       1
30486       0       0       0       0       0       1       0
30487       2       0       1       0       0       1       0
30488       0       0       1       0       3       1       3
30489       0       0       0       0       0       0       0

[30490 rows x 1919 columns]>

In [8]:


sales_train_validation

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,2,0,0,0,0,0,1,0,0,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,2,1,0,2,0,1,0,0,1,0
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,1,0,0,1,0,3,1,3
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [136]:
df=pd.read_csv('sales_train_validation.csv')

In [137]:
data=pd.read_csv('sales_train_validation.csv')
data

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,2,0,0,0,0,0,1,0,0,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,2,1,0,2,0,1,0,0,1,0
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,1,0,0,1,0,3,1,3
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [81]:
def cal_days(data): #calculate and output a list of days 
    start_day=1
    day_format="d_"
    cols=[]
    for j in range(math.ceil((len(data.columns)-6)//7) ):
        for i in range(1,8):
            cols.append(day_format+str(start_day))
            start_day=start_day+1
    return cols

In [138]:
cols=cal_days(df)
cols[-10:]

['d_1902',
 'd_1903',
 'd_1904',
 'd_1905',
 'd_1906',
 'd_1907',
 'd_1908',
 'd_1909',
 'd_1910',
 'd_1911']

In [13]:
len(cols)

1911

In [83]:
def create_week(cols,df): # create columns for each week and quantity of products sold that week
    for i in range(0,len(cols),7):
        temp=cols[i:i+7]

        df["week" +str(int(i/7+1))]=df[temp].sum(axis=1)

In [139]:
create_week(cols,data)

In [140]:
data

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,week264,week265,week266,week267,week268,week269,week270,week271,week272,week273
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,6,8,10,6,6,10,3,10,5,9
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,2,1,3,1,2,3,0,0,1
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,3,1,0,10,3,1,1,2,5,7
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,5,18,7,10,14,16,15,10,15,14
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,12,7,6,8,9,10,9,7,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,4,1,3,5,0,0,0,0,4,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,4,4,0
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,4,2,11,12,9,4,2,9,10,4
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,12,0,8,4,10,7,9,7,7,5
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,10,7,16,5,16,17,23,11,1,0

In [16]:
def cal_extra_days(data):# calcualte extra days not included in weeks listed
    if not ((len(data.columns)-6)/7).is_integer():
        extra_days=(len(data.columns)-6)-(((len(data.columns)-6)//7)*7)
    return extra_days

In [141]:
extra_days=cal_extra_days(data)
extra_days

2

In [18]:
def add_extra_days_col(data,cols): # add extra days to list to sum all later to week
    temp_col=[]
    extra_days=cal_extra_days(data) 
    for i in range(((len(cols))//7)*7+1,((len(cols))//7)*7+extra_days+1):
        temp="d_"+str(i)
        temp_col.append(temp)   
    
    data["week" +str((len(cols))//7+1)]=data[temp_col].sum(axis=1)

In [142]:
add_extra_days_col(data,cols)
data

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,week265,week266,week267,week268,week269,week270,week271,week272,week273,week274
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,8,10,6,6,10,3,10,5,9,2
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,3,1,2,3,0,0,1,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,10,3,1,1,2,5,7,2
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,18,7,10,14,16,15,10,15,14,9
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,7,6,8,9,10,9,7,8,8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,1,3,5,0,0,0,0,4,1,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,4,4,0,1
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,2,11,12,9,4,2,9,10,4,1
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,8,4,10,7,9,7,7,5,4
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,7,16,5,16,17,23,11,1,0,0

In [92]:
data

0         0
1         0
2         0
3         0
4         0
         ..
30485     8
30486     5
30487    15
30488     0
30489     0
Name: week1, Length: 30490, dtype: int64

In [186]:
def create_week_sales_info(df,cols):
    info_sales=df.iloc[:,:6]
    week_sales=df.iloc[:,-math.ceil((len(cols))/7)-1:]
    result_df = pd.concat([info_sales, week_sales], axis=1)
    return result_df

In [222]:
result_df=create_week_sales_info(data,cols)
result_df

,id,item_id,dept_id,cat_id,store_id,state_id,week1,week2,week3,week4,...,week265,week266,week267,week268,week269,week270,week271,week272,week273,week274
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,8,10,6,6,10,3,10,5,9,2
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,3,1,2,3,0,0,1,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,10,3,1,1,2,5,7,2
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,18,7,10,14,16,15,10,15,14,9
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,7,6,8,9,10,9,7,8,8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,8,16,10,41,...,1,3,5,0,0,0,0,4,1,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,5,11,7,6,...,0,0,0,0,0,0,4,4,0,1
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,15,35,55,24,...,2,11,12,9,4,2,9,10,4,1
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,8,4,10,7,9,7,7,5,4
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,7,16,5,16,17,23,11,1,0,0

In [224]:
result_df

,id,item_id,dept_id,cat_id,store_id,state_id,week1,week2,week3,week4,...,week265,week266,week267,week268,week269,week270,week271,week272,week273,week274
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,8,10,6,6,10,3,10,5,9,2
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,3,1,2,3,0,0,1,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,10,3,1,1,2,5,7,2
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,18,7,10,14,16,15,10,15,14,9
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,7,6,8,9,10,9,7,8,8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,8,16,10,41,...,1,3,5,0,0,0,0,4,1,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,5,11,7,6,...,0,0,0,0,0,0,4,4,0,1
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,15,35,55,24,...,2,11,12,9,4,2,9,10,4,1
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,8,4,10,7,9,7,7,5,4
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,7,16,5,16,17,23,11,1,0,0

In [24]:
def create_data_predict(result,sell_data):
    start_week="week"+str((int(str(sell_data.iloc[0,2])[2])*52-52+int(str(sell_data.iloc[0,2])[3:])))
    x=result_df.loc[1][start_week:].values.tolist()
    y=sell_data.iloc[0:146,3].values.tolist()

    return x,y

In [25]:
x,y=create_data_predict(result_df,sell_prices)

In [26]:
len(x)

146

In [27]:
len(y)

146

In [28]:
x=result_df.loc[1][start_week:]

NameError: name 'start_week' is not defined

In [ ]:
y=sell_prices.iloc[0:146,3]

In [360]:
y

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 8.92,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26]

In [ ]:
data = pd.concat([x,y], axis=1,ignore_index=False)

In [ ]:
x= sm.add_constant(x)

In [ ]:
model = sm.OLS(y,x)

In [ ]:
results = model.fit()

In [ ]:
results.params

In [ ]:
results.tvalues

In [ ]:
print(results.t_test([1, 0]))

In [ ]:
model=sm.OLS(y, x).fit()

In [ ]:
sm.OLS(y,x).fit().summary()

In [ ]:
plt.rc("figure", figsize=(16, 8))

In [ ]:
plt.rc("font", size=14)

In [ ]:
import seaborn as sns

In [ ]:
p=model.params

In [ ]:
p[0]

In [ ]:
data

In [ ]:
data.rename(columns={1:"quantity"},inplace=True)

In [ ]:
from linearmodels import IV2SLS

In [ ]:
iv_reg = IV2SLS.from_formula("sell_price ~ quantity", data).fit()

In [ ]:
iv_reg.summary

In [ ]:
test=sell_prices.loc[0:146]
test[]

In [ ]:
price_range=sell_prices.groupby(['store_id','item_id'])['sell_price'].apply(lambda x: max(x) - min(x))
max_change_product=price_range.idxmax()
max_change_value=price_range.max()

In [ ]:
max_change_product

In [ ]:
price_range.max()

In [ ]:
max_change_value

In [ ]:
test=sell_prices.loc[sell_prices["store_id"]=="WI_3" ]

In [ ]:
test=test.loc[sell_prices["item_id"]=="HOUSEHOLD_2_406"]

In [ ]:
test

In [ ]:
display(test.to_string())

In [ ]:
dates=test.loc[test["sell_price"] >13]["wm_yr_wk"]

In [ ]:
start_week="week"+str((int(str(sell_prices.iloc[0,2])[2])*52-52+int(str(sell_prices.iloc[0,2])[3:])))
x=result_df.loc[1][start_week:].values.tolist()
y=sell_prices.iloc[0:146,3].values.tolist()

In [ ]:
start_week=dates.iloc[0]

In [ ]:
start_week
x=result_df.loc[1][start_week:].values.tolist()

In [ ]:
result=result_df.loc[result_df["item_id"]=="HOUSEHOLD_2_406"]

In [ ]:
result=result.loc[result["store_id"]=="WI_3"]

In [ ]:
x=result.iloc[:,6:].values.tolist()

In [ ]:
x=x[0]

In [ ]:
x[115:125]

In [ ]:
y=sell_prices.iloc[0:146,3].values.tolist()

In [ ]:
test=test["sell_price"].values.tolist()

In [ ]:
test[121]

In [ ]:
x= sm.add_constant(x)

In [ ]:
sm.OLS(test[0:-8],x).fit().summary()

In [ ]:
#Demand Forecasting Attempt

In [29]:
import plotly.express as px
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import matplotlib.pyplot as plt
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [58]:
line=result_df.loc[0].T
line=line[132:]
line

week128     0
week129     1
week130     0
week131     2
week132     2
           ..
week270     3
week271    10
week272     5
week273     9
week274     2
Name: 0, Length: 147, dtype: object

In [61]:
week=[]
for i in range(128,275):
    week.append(i)
len(week)
week

[128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274]

In [62]:
fig_demand = px.line( x=week,
                     y=line,
                     title='Demand Over Time')
fig_demand.show()

In [63]:

time_series = data.set_index(week)[line]

differenced_series = time_series.diff().dropna()

# Plot ACF and PACF of differenced time series
fig, axes = plt.subplots(1, 2, figsize=(12, 4))
plot_acf(differenced_series, ax=axes[0])
plot_pacf(differenced_series, ax=axes[1])
plt.show()

KeyError: 'None of [128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274] are in the columns'

In [64]:
time_series = data.set_index(week)[line]

KeyError: 'None of [128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274] are in the columns'

In [65]:
order = (1, 1, 1)
seasonal_order = (1, 1, 1, 2) #2 because the data contains a time period of 2 months only
model = SARIMAX(y, order=order, seasonal_order=seasonal_order)
model_fit = model.fit(disp=False)

C:\Users\lywt9\anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning:

Maximum Likelihood optimization failed to converge. Check mle_retvals

In [68]:
future_steps = 10
predictions = model_fit.predict(len(y), len(y) + future_steps - 1)
predictions = predictions.astype(int)
print(predictions)

[8 8 8 8 8 8 8 8 8 8]

In [282]:
new=result_df.copy()

In [283]:
new

,id,item_id,dept_id,cat_id,store_id,state_id,week1,week2,week3,week4,...,week265,week266,week267,week268,week269,week270,week271,week272,week273,week274
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,8,10,6,6,10,3,10,5,9,2
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,3,1,2,3,0,0,1,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,10,3,1,1,2,5,7,2
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,18,7,10,14,16,15,10,15,14,9
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,7,6,8,9,10,9,7,8,8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,8,16,10,41,...,1,3,5,0,0,0,0,4,1,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,5,11,7,6,...,0,0,0,0,0,0,4,4,0,1
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,15,35,55,24,...,2,11,12,9,4,2,9,10,4,1
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,8,4,10,7,9,7,7,5,4
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,7,16,5,16,17,23,11,1,0,0

In [284]:
def cal_weeks(data): #calculate and output a list of days 
    start_day=1
    day_format="week"
    cols=[]
    print(len(data.columns))
    for j in range(1,math.ceil((len(data.columns)-6)) ):
            cols.append(day_format+str(j))
            
    return cols
weeks=cal_weeks(new)

280

In [285]:
weeks

['week1',
 'week2',
 'week3',
 'week4',
 'week5',
 'week6',
 'week7',
 'week8',
 'week9',
 'week10',
 'week11',
 'week12',
 'week13',
 'week14',
 'week15',
 'week16',
 'week17',
 'week18',
 'week19',
 'week20',
 'week21',
 'week22',
 'week23',
 'week24',
 'week25',
 'week26',
 'week27',
 'week28',
 'week29',
 'week30',
 'week31',
 'week32',
 'week33',
 'week34',
 'week35',
 'week36',
 'week37',
 'week38',
 'week39',
 'week40',
 'week41',
 'week42',
 'week43',
 'week44',
 'week45',
 'week46',
 'week47',
 'week48',
 'week49',
 'week50',
 'week51',
 'week52',
 'week53',
 'week54',
 'week55',
 'week56',
 'week57',
 'week58',
 'week59',
 'week60',
 'week61',
 'week62',
 'week63',
 'week64',
 'week65',
 'week66',
 'week67',
 'week68',
 'week69',
 'week70',
 'week71',
 'week72',
 'week73',
 'week74',
 'week75',
 'week76',
 'week77',
 'week78',
 'week79',
 'week80',
 'week81',
 'week82',
 'week83',
 'week84',
 'week85',
 'week86',
 'week87',
 'week88',
 'week89',
 'week90',
 'week91',
 'week92',
 'week93',
 'week94',
 'week95',
 'week96',
 'week97',
 'week98',
 'week99',
 'week100',
 'week101',
 'week102',
 'week103',
 'week104',
 'week105',
 'week106',
 'week107',
 'week108',
 'week109',
 'week110',
 'week111',
 'week112',
 'week113',
 'week114',
 'week115',
 'week116',
 'week117',
 'week118',
 'week119',
 'week120',
 'week121',
 'week122',
 'week123',
 'week124',
 'week125',
 'week126',
 'week127',
 'week128',
 'week129',
 'week130',
 'week131',
 'week132',
 'week133',
 'week134',
 'week135',
 'week136',
 'week137',
 'week138',
 'week139',
 'week140',
 'week141',
 'week142',
 'week143',
 'week144',
 'week145',
 'week146',
 'week147',
 'week148',
 'week149',
 'week150',
 'week151',
 'week152',
 'week153',
 'week154',
 'week155',
 'week156',
 'week157',
 'week158',
 'week159',
 'week160',
 'week161',
 'week162',
 'week163',
 'week164',
 'week165',
 'week166',
 'week167',
 'week168',
 'week169',
 'week170',
 'week171',
 'week172',
 'week173',
 'week174',
 'week175',
 'week176',
 'week177',
 'week178',
 'week179',
 'week180',
 'week181',
 'week182',
 'week183',
 'week184',
 'week185',
 'week186',
 'week187',
 'week188',
 'week189',
 'week190',
 'week191',
 'week192',
 'week193',
 'week194',
 'week195',
 'week196',
 'week197',
 'week198',
 'week199',
 'week200',
 'week201',
 'week202',
 'week203',
 'week204',
 'week205',
 'week206',
 'week207',
 'week208',
 'week209',
 'week210',
 'week211',
 'week212',
 'week213',
 'week214',
 'week215',
 'week216',
 'week217',
 'week218',
 'week219',
 'week220',
 'week221',
 'week222',
 'week223',
 'week224',
 'week225',
 'week226',
 'week227',
 'week228',
 'week229',
 'week230',
 'week231',
 'week232',
 'week233',
 'week234',
 'week235',
 'week236',
 'week237',
 'week238',
 'week239',
 'week240',
 'week241',
 'week242',
 'week243',
 'week244',
 'week245',
 'week246',
 'week247',
 'week248',
 'week249',
 'week250',
 'week251',
 'week252',
 'week253',
 'week254',
 'week255',
 'week256',
 'week257',
 'week258',
 'week259',
 'week260',
 'week261',
 'week262',
 'week263',
 'week264',
 'week265',
 'week266',
 'week267',
 'week268',
 'week269',
 'week270',
 'week271',
 'week272',
 'week273']

In [286]:
len(weeks)//4

68

In [287]:
#Month Hierachy
def create_month(cols,df): # create columns for each week and quantity of products sold that week
    for i in range(0,len(cols),4):
        temp=cols[i:i+4]
        print(temp)
        
        
        df["month" +str(i//4)]=df[temp].sum(axis=1)
create_month(weeks,new)

['week1', 'week2', 'week3', 'week4']
['week5', 'week6', 'week7', 'week8']
['week9', 'week10', 'week11', 'week12']
['week13', 'week14', 'week15', 'week16']
['week17', 'week18', 'week19', 'week20']
['week21', 'week22', 'week23', 'week24']
['week25', 'week26', 'week27', 'week28']
['week29', 'week30', 'week31', 'week32']
['week33', 'week34', 'week35', 'week36']
['week37', 'week38', 'week39', 'week40']
['week41', 'week42', 'week43', 'week44']
['week45', 'week46', 'week47', 'week48']
['week49', 'week50', 'week51', 'week52']
['week53', 'week54', 'week55', 'week56']
['week57', 'week58', 'week59', 'week60']
['week61', 'week62', 'week63', 'week64']
['week65', 'week66', 'week67', 'week68']
['week69', 'week70', 'week71', 'week72']
['week73', 'week74', 'week75', 'week76']
['week77', 'week78', 'week79', 'week80']
['week81', 'week82', 'week83', 'week84']
['week85', 'week86', 'week87', 'week88']
['week89', 'week90', 'week91', 'week92']
['week93', 'week94', 'week95', 'week96']
['week97', 'week98', 'week99', 'week100']
['week101', 'week102', 'week103', 'week104']
['week105', 'week106', 'week107', 'week108']
['week109', 'week110', 'week111', 'week112']
['week113', 'week114', 'week115', 'week116']
['week117', 'week118', 'week119', 'week120']
['week121', 'week122', 'week123', 'week124']
['week125', 'week126', 'week127', 'week128']
['week129', 'week130', 'week131', 'week132']
['week133', 'week134', 'week135', 'week136']
['week137', 'week138', 'week139', 'week140']
['week141', 'week142', 'week143', 'week144']
['week145', 'week146', 'week147', 'week148']
['week149', 'week150', 'week151', 'week152']
['week153', 'week154', 'week155', 'week156']
['week157', 'week158', 'week159', 'week160']
['week161', 'week162', 'week163', 'week164']
['week165', 'week166', 'week167', 'week168']
['week169', 'week170', 'week171', 'week172']
['week173', 'week174', 'week175', 'week176']
['week177', 'week178', 'week179', 'week180']
['week181', 'week182', 'week183', 'week184']
['week185', 'week186', 'week187', 'week188']
['week189', 'week190', 'week191', 'week192']
['week193', 'week194', 'week195', 'week196']
['week197', 'week198', 'week199', 'week200']
['week201', 'week202', 'week203', 'week204']
['week205', 'week206', 'week207', 'week208']
['week209', 'week210', 'week211', 'week212']
['week213', 'week214', 'week215', 'week216']
['week217', 'week218', 'week219', 'week220']
['week221', 'week222', 'week223', 'week224']
['week225', 'week226', 'week227', 'week228']
['week229', 'week230', 'week231', 'week232']
['week233', 'week234', 'week235', 'week236']
['week237', 'week238', 'week239', 'week240']
['week241', 'week242', 'week243', 'week244']
['week245', 'week246', 'week247', 'week248']
['week249', 'week250', 'week251', 'week252']
['week253', 'week254', 'week255', 'week256']
['week257', 'week258', 'week259', 'week260']
['week261', 'week262', 'week263', 'week264']
['week265', 'week266', 'week267', 'week268']
['week269', 'week270', 'week271', 'week272']
['week273']

In [288]:
new

,id,item_id,dept_id,cat_id,store_id,state_id,week1,week2,week3,week4,...,month59,month60,month61,month62,month63,month64,month65,month66,month67,month68
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,22,18,16,12,21,26,19,30,28,9
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,15,9,9,11,27,4,4,7,5,1
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,9,21,13,20,42,13,9,14,9,7
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,52,50,58,46,45,49,64,49,56,14
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,39,38,38,36,45,15,32,30,34,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,8,16,10,41,...,17,18,15,21,27,22,25,9,4,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,5,11,7,6,...,0,0,0,0,0,0,0,0,8,0
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,15,35,55,24,...,13,5,3,8,23,23,19,34,25,4
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,23,47,43,58,41,41,34,22,30,5
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,49,51,63,38,45,41,45,44,52,0

In [291]:
def create_month_sales_info(df,cols):
    info_sales=df.iloc[:,:6]
    week_sales=df.iloc[:,-math.ceil((len(cols))/4)+1:]
    result_df = pd.concat([info_sales, week_sales], axis=1)
    return result_df

In [292]:
monthly_sale=create_month_sales_info(new,weeks)
monthly_sale

,id,item_id,dept_id,cat_id,store_id,state_id,month1,month2,month3,month4,...,month59,month60,month61,month62,month63,month64,month65,month66,month67,month68
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,22,18,16,12,21,26,19,30,28,9
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,15,9,9,11,27,4,4,7,5,1
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,9,21,13,20,42,13,9,14,9,7
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,10,21,33,25,...,52,50,58,46,45,49,64,49,56,14
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,50,...,39,38,38,36,45,15,32,30,34,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,112,104,62,33,...,17,18,15,21,27,22,25,9,4,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,40,24,25,11,...,0,0,0,0,0,0,0,0,8,0
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,87,37,31,28,...,13,5,3,8,23,23,19,34,25,4
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,23,47,43,58,41,41,34,22,30,5
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,49,51,63,38,45,41,45,44,52,0

In [351]:
monthly_sale.loc[(monthly_sale['store_id'] == "CA_1") & (monthly_sale['item_id'] == "HOBBIES_1_001")]

TypeError: '(slice(None, None, None), slice(6, None, None))' is an invalid key

In [300]:
test=sell_prices.loc[(monthly_sale['store_id'] == "CA_1") & (sell_prices['item_id'] == "HOBBIES_1_001")]

In [321]:
test

    store_id        item_id  wm_yr_wk  sell_price
0       CA_1  HOBBIES_1_001     11325        9.58
1       CA_1  HOBBIES_1_001     11326        9.58
2       CA_1  HOBBIES_1_001     11327        8.26
3       CA_1  HOBBIES_1_001     11328        8.26
4       CA_1  HOBBIES_1_001     11329        8.26
..       ...            ...       ...         ...
149     CA_1  HOBBIES_1_001     11617        8.38
150     CA_1  HOBBIES_1_001     11618        8.38
151     CA_1  HOBBIES_1_001     11619        8.38
152     CA_1  HOBBIES_1_001     11620        8.38
153     CA_1  HOBBIES_1_001     11621        8.38

[154 rows x 4 columns]

In [307]:
month=[]
for i in range(1,69):
    month.append("month"+str(i))
month

['month1',
 'month2',
 'month3',
 'month4',
 'month5',
 'month6',
 'month7',
 'month8',
 'month9',
 'month10',
 'month11',
 'month12',
 'month13',
 'month14',
 'month15',
 'month16',
 'month17',
 'month18',
 'month19',
 'month20',
 'month21',
 'month22',
 'month23',
 'month24',
 'month25',
 'month26',
 'month27',
 'month28',
 'month29',
 'month30',
 'month31',
 'month32',
 'month33',
 'month34',
 'month35',
 'month36',
 'month37',
 'month38',
 'month39',
 'month40',
 'month41',
 'month42',
 'month43',
 'month44',
 'month45',
 'month46',
 'month47',
 'month48',
 'month49',
 'month50',
 'month51',
 'month52',
 'month53',
 'month54',
 'month55',
 'month56',
 'month57',
 'month58',
 'month59',
 'month60',
 'month61',
 'month62',
 'month63',
 'month64',
 'month65',
 'month66',
 'month67',
 'month68']

In [330]:
test.loc[0]["sell_price"]

9.58

In [315]:
start_week=(int(str(test.loc[0]["wm_yr_wk"])[2])-1)*52+(int(str(test.loc[0]["wm_yr_wk"])[3:]))
start_week

129

In [319]:
start_month=math.ceil(start_week/4)

In [320]:
start_month

33

In [328]:
y=[0]*68

In [333]:
test

    store_id        item_id  wm_yr_wk  sell_price
0       CA_1  HOBBIES_1_001     11325        9.58
1       CA_1  HOBBIES_1_001     11326        9.58
2       CA_1  HOBBIES_1_001     11327        8.26
3       CA_1  HOBBIES_1_001     11328        8.26
4       CA_1  HOBBIES_1_001     11329        8.26
..       ...            ...       ...         ...
149     CA_1  HOBBIES_1_001     11617        8.38
150     CA_1  HOBBIES_1_001     11618        8.38
151     CA_1  HOBBIES_1_001     11619        8.38
152     CA_1  HOBBIES_1_001     11620        8.38
153     CA_1  HOBBIES_1_001     11621        8.38

[154 rows x 4 columns]

In [347]:
counter=0
for i in range(start_month,68):
    y[i]=(test.loc[counter]["sell_price"]+test.loc[counter+1]["sell_price"]+test.loc[counter+2]["sell_price"]+test.loc[counter+3]["sell_price"])/4
    print(start_month)
    counter+=4

33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33

In [349]:
len(y)

68

In [357]:
x=monthly_sale.loc[(monthly_sale['store_id'] == "CA_1") & (monthly_sale['item_id'] == "HOBBIES_1_001")].iloc[:,6:].values.tolist()[0]

In [358]:
x

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 5,
 12,
 14,
 12,
 19,
 22,
 10,
 12,
 10,
 10,
 7,
 12,
 18,
 14,
 15,
 18,
 15,
 19,
 18,
 20,
 19,
 20,
 24,
 12,
 2,
 18,
 20,
 22,
 18,
 16,
 12,
 21,
 26,
 19,
 30,
 28,
 9]

In [361]:
x= sm.add_constant(x)

In [362]:
sm.OLS(y,x).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.760
Model:                            OLS   Adj. R-squared:                  0.756
Method:                 Least Squares   F-statistic:                     209.0
Date:                Sat, 09 Mar 2024   Prob (F-statistic):           3.92e-22
Time:                        16:11:41   Log-Likelihood:                -144.54
No. Observations:                  68   AIC:                             293.1
Df Residuals:                      66   BIC:                             297.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.8172      0.345      2.369      0.021       0.128       1.506
x1             0.3916      0.027     14.458      0.000       0.338       0.446
==============================================================================
Omnibus:                        9.526   Durbin-Watson:                   1.122
Prob(Omnibus):                  0.009   Jarque-Bera (JB):               10.559
Skew:                           0.649   Prob(JB):                      0.00510
Kurtosis:                       4.429   Cond. No.                         17.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""