In [1]:
import pandas as pd
import math
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.compat import lzip

In [2]:
import matplotlib.pyplot as plt
import numpy as np

In [3]:
sales_train_evaluation = pd.read_csv('sales_train_evaluation.csv')

In [4]:
sales_train_validation = pd.read_csv('sales_train_validation.csv')

In [5]:
sell_prices=pd.read_csv('sell_prices.csv')

In [6]:
sell_prices.head

<bound method NDFrame.head of         store_id        item_id  wm_yr_wk  sell_price
0           CA_1  HOBBIES_1_001     11325        9.58
1           CA_1  HOBBIES_1_001     11326        9.58
2           CA_1  HOBBIES_1_001     11327        8.26
3           CA_1  HOBBIES_1_001     11328        8.26
4           CA_1  HOBBIES_1_001     11329        8.26
...          ...            ...       ...         ...
6841116     WI_3    FOODS_3_827     11617        1.00
6841117     WI_3    FOODS_3_827     11618        1.00
6841118     WI_3    FOODS_3_827     11619        1.00
6841119     WI_3    FOODS_3_827     11620        1.00
6841120     WI_3    FOODS_3_827     11621        1.00

[6841121 rows x 4 columns]>

In [7]:
sales_train_validation.head

<bound method NDFrame.head of                                   id        item_id    dept_id   cat_id  \
0      HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  HOBBIES_1  HOBBIES
1      HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  HOBBIES_1  HOBBIES
2      HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  HOBBIES_1  HOBBIES
3      HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  HOBBIES_1  HOBBIES
4      HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  HOBBIES_1  HOBBIES
...                              ...            ...        ...      ...
30485    FOODS_3_823_WI_3_validation    FOODS_3_823    FOODS_3    FOODS
30486    FOODS_3_824_WI_3_validation    FOODS_3_824    FOODS_3    FOODS
30487    FOODS_3_825_WI_3_validation    FOODS_3_825    FOODS_3    FOODS
30488    FOODS_3_826_WI_3_validation    FOODS_3_826    FOODS_3    FOODS
30489    FOODS_3_827_WI_3_validation    FOODS_3_827    FOODS_3    FOODS

      store_id state_id  d_1  d_2  d_3  d_4  ...  d_1904  d_1905  d_1906  \
0         CA_1       CA    0    0    0    0  ...       1       3       0
1         CA_1       CA    0    0    0    0  ...       0       0       0
2         CA_1       CA    0    0    0    0  ...       2       1       2
3         CA_1       CA    0    0    0    0  ...       1       0       5
4         CA_1       CA    0    0    0    0  ...       2       1       1
...        ...      ...  ...  ...  ...  ...  ...     ...     ...     ...
30485     WI_3       WI    0    0    2    2  ...       2       0       0
30486     WI_3       WI    0    0    0    0  ...       0       0       0
30487     WI_3       WI    0    6    0    2  ...       2       1       0
30488     WI_3       WI    0    0    0    0  ...       0       0       1
30489     WI_3       WI    0    0    0    0  ...       0       0       0

       d_1907  d_1908  d_1909  d_1910  d_1911  d_1912  d_1913
0           1       1       1       3       0       1       1
1           0       0       1       0       0       0       0
2           1       1       1       0       1       1       1
3           4       1       0       1       3       7       2
4           0       1       1       2       2       2       4
...       ...     ...     ...     ...     ...     ...     ...
30485       0       0       0       1       0       0       1
30486       0       0       0       0       0       1       0
30487       2       0       1       0       0       1       0
30488       0       0       1       0       3       1       3
30489       0       0       0       0       0       0       0

[30490 rows x 1919 columns]>

In [8]:


sales_train_validation

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,2,0,0,0,0,0,1,0,0,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,2,1,0,2,0,1,0,0,1,0
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,1,0,0,1,0,3,1,3
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [195]:
df=pd.read_csv('sales_train_validation.csv')

In [196]:
data=df

In [197]:
def cal_days(data): #calculate and output a list of days 
    start_day=1
    day_format="d_"
    converted=False
    cols=[]
    for j in range(math.ceil((len(data)-6)//7) ):
        for i in range(1,8):
            cols.append(day_format+str(start_day))
            start_day=start_day+1
    return cols

In [198]:
len(cols)

1911

In [199]:
def create_week(cols,df): # create columns for each week and quantity of products sold that week
    for i in range(0,len(cols),7):
        temp=cols[i:i+7]

        df["week" +str(int(i/7+1))]=df[temp].sum(axis=1)

In [200]:
create_week(cols,df)
df

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,week264,week265,week266,week267,week268,week269,week270,week271,week272,week273
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,6,8,10,6,6,10,3,10,5,9
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,2,1,3,1,2,3,0,0,1
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,3,1,0,10,3,1,1,2,5,7
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,5,18,7,10,14,16,15,10,15,14
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,12,7,6,8,9,10,9,7,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,4,1,3,5,0,0,0,0,4,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,4,4,0
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,4,2,11,12,9,4,2,9,10,4
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,12,0,8,4,10,7,9,7,7,5
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,10,7,16,5,16,17,23,11,1,0

In [201]:
def cal_extra_days(data):# calcualte extra days not included in weeks listed
    if not ((len(data.columns)-6)/7).is_integer():
        extra_days=(len(data.columns)-6)-(((len(data.columns)-6)//7)*7)
    return extra_days

In [202]:
extra_days=cal_extra_days(data)
extra_days

2

In [203]:
def add_extra_days_col(data,cols): # add extra days to list to sum all later to week
    temp_col=[]
    extra_days=cal_extra_days(data) 
    for i in range(((len(cols))//7)*7+1,((len(cols))//7)*7+extra_days+1):
        temp="d_"+str(i)
        temp_col.append(temp)   
    
    data["week" +str((len(cols))//7+1)]=data[temp_col].sum(axis=1)

In [205]:
add_extra_days_col(df,cols)
df

KeyError: "['d_1914'] not in index"

In [206]:
df

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,week265,week266,week267,week268,week269,week270,week271,week272,week273,week274
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,8,10,6,6,10,3,10,5,9,2
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,3,1,2,3,0,0,1,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,10,3,1,1,2,5,7,2
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,18,7,10,14,16,15,10,15,14,9
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,7,6,8,9,10,9,7,8,8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,1,3,5,0,0,0,0,4,1,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,4,4,0,1
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,2,11,12,9,4,2,9,10,4,1
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,8,4,10,7,9,7,7,5,4
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,7,16,5,16,17,23,11,1,0,0

In [207]:
def create_week_sales_info(df,cols):
    info_sales=df.iloc[:,:6]
    week_sales=df.iloc[:,-math.ceil((len(cols))/7):]
    result_df = pd.concat([info_sales, week_sales], axis=1)
    return result_df

In [208]:
result_df=create_week_sales_info(df,cols)
result_df

In [291]:
result_df

,id,item_id,dept_id,cat_id,store_id,state_id,week2,week3,week4,week5,...,week265,week266,week267,week268,week269,week270,week271,week272,week273,week274
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,8,10,6,6,10,3,10,5,9,2
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,3,1,2,3,0,0,1,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,10,3,1,1,2,5,7,2
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,18,7,10,14,16,15,10,15,14,9
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,7,6,8,9,10,9,7,8,8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,16,10,41,38,...,1,3,5,0,0,0,0,4,1,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,11,7,6,6,...,0,0,0,0,0,0,4,4,0,1
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,35,55,24,15,...,2,11,12,9,4,2,9,10,4,1
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,8,4,10,7,9,7,7,5,4
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,7,16,5,16,17,23,11,1,0,0

In [224]:
def create_data_predict(result,sell_data):
    start_week="week"+str((int(str(sell_data.iloc[0,2])[2])*52-52+int(str(sell_data.iloc[0,2])[3:])))
    x=result_df.loc[1][start_week:].values.tolist()
    y=sell_data.iloc[0:146,3].values.tolist()

    return x,y

In [225]:
x,y=create_data_predict(result_df,sell_prices)

In [226]:
len(x)

146

In [227]:
y

[9.58,
 9.58,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.26,
 8.38,
 8.38,
 8.38]

In [60]:
x=result_df.loc[1][start_week:]

In [327]:
y=sell_prices.iloc[0:146,3]

In [328]:
y

0      9.58
1      9.58
2      8.26
3      8.26
4      8.26
       ...
141    8.26
142    8.26
143    8.38
144    8.38
145    8.38
Name: sell_price, Length: 146, dtype: float64

In [76]:
data = pd.concat([x,y], axis=1,ignore_index=False)

In [229]:
x= sm.add_constant(x)

In [96]:
model = sm.OLS(y,x)

In [97]:
results = model.fit()

In [98]:
results.params

array([ 8.28248642e+00, -9.62646042e-04])

In [ ]:
results.tvalues

In [ ]:
print(results.t_test([1, 0]))

In [109]:
model=sm.OLS(y, x).fit()

In [230]:
sm.OLS(y,x).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.007
Method:                 Least Squares   F-statistic:                   0.02564
Date:                Wed, 06 Mar 2024   Prob (F-statistic):              0.873
Time:                        10:37:11   Log-Likelihood:                 65.905
No. Observations:                 146   AIC:                            -127.8
Df Residuals:                     144   BIC:                            -121.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          8.2825      0.018    469.362      0.000       8.248       8.317
x1            -0.0010      0.006     -0.160      0.873      -0.013       0.011
==============================================================================
Omnibus:                      256.038   Durbin-Watson:                   0.509
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            28398.698
Skew:                           8.221   Prob(JB):                         0.00
Kurtosis:                      69.317   Cond. No.                         4.27
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
plt.rc("figure", figsize=(16, 8))

In [ ]:
plt.rc("font", size=14)

In [ ]:
import seaborn as sns

In [ ]:
p=model.params

In [ ]:
p[0]

In [79]:
data

    quantity  sell_price
0          1        9.58
1          3        9.58
2          0        8.26
3          2        8.26
4          2        8.26
..       ...         ...
141        3        8.26
142        0        8.26
143        0        8.38
144        1        8.38
145        0        8.38

[146 rows x 2 columns]

In [78]:
data.rename(columns={1:"quantity"},inplace=True)

In [29]:
from linearmodels import IV2SLS

In [125]:
iv_reg = IV2SLS.from_formula("sell_price ~ quantity", data).fit()

In [126]:
iv_reg.summary

<class 'linearmodels.compat.statsmodels.Summary'>
"""
                            OLS Estimation Summary
==============================================================================
Dep. Variable:             sell_price   R-squared:                      0.0162
Estimator:                        OLS   Adj. R-squared:                -0.0567
No. Observations:                 146   F-statistic:                   -0.2551
Date:                Tue, Mar 05 2024   P-value (F-stat)                1.0000
Time:                        19:36:43   Distribution:                 chi2(10)
Cov. Estimator:                robust

                               Parameter Estimates
==================================================================================
                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------
Intercept          8.2680     0.0055     1512.9     0.0000      8.2573      8.2787
quantity[T.1]      0.0240     0.0296     0.8115     0.4171     -0.0340      0.0820
quantity[T.2]     -0.0080     0.0055    -1.4639     0.1432     -0.0187      0.0027
quantity[T.3]      0.0448     0.0520     0.8612     0.3891     -0.0572      0.1468
quantity[T.4]     -0.0080     0.0055    -1.4639     0.1432     -0.0187      0.0027
quantity[T.5]     -0.0080     0.0055    -1.4639     0.1432     -0.0187      0.0027
quantity[T.6]     -0.0080     0.0055    -1.4639     0.1432     -0.0187      0.0027
quantity[T.7]     -0.0080     0.0055    -1.4639     0.1432     -0.0187      0.0027
quantity[T.9]     -0.0080     0.0055    -1.4639     0.1432     -0.0187      0.0027
quantity[T.13]    -0.0080     0.0055    -1.4639     0.1432     -0.0187      0.0027
quantity[T.14]    -0.0080     0.0055    -1.4639     0.1432     -0.0187      0.0027
==================================================================================
"""

In [245]:
test=sell_prices.loc[0:146]
test[]

    store_id        item_id  wm_yr_wk  sell_price
0       CA_1  HOBBIES_1_001     11325        9.58
1       CA_1  HOBBIES_1_001     11326        9.58
2       CA_1  HOBBIES_1_001     11327        8.26
3       CA_1  HOBBIES_1_001     11328        8.26
4       CA_1  HOBBIES_1_001     11329        8.26
..       ...            ...       ...         ...
142     CA_1  HOBBIES_1_001     11610        8.26
143     CA_1  HOBBIES_1_001     11611        8.38
144     CA_1  HOBBIES_1_001     11612        8.38
145     CA_1  HOBBIES_1_001     11613        8.38
146     CA_1  HOBBIES_1_001     11614        8.38

[147 rows x 4 columns]

In [255]:
price_range=sell_prices.groupby(['store_id','item_id'])['sell_price'].apply(lambda x: max(x) - min(x))
max_change_product=price_range.idxmax()
max_change_value=price_range.max()

In [270]:
max_change_product

('WI_3', 'HOUSEHOLD_2_406')

In [272]:
price_range.max()

104.05999999999999

In [269]:
max_change_value

104.05999999999999

In [344]:
test=sell_prices.loc[sell_prices["store_id"]=="WI_3" ]

In [345]:
test=test.loc[sell_prices["item_id"]=="HOUSEHOLD_2_406"]

In [282]:
test

        store_id          item_id  wm_yr_wk  sell_price
6485826     WI_3  HOUSEHOLD_2_406     11102       12.47
6485827     WI_3  HOUSEHOLD_2_406     11103       12.47
6485828     WI_3  HOUSEHOLD_2_406     11104       12.47
6485829     WI_3  HOUSEHOLD_2_406     11105       12.47
6485830     WI_3  HOUSEHOLD_2_406     11106       12.47
...          ...              ...       ...         ...
6486102     WI_3  HOUSEHOLD_2_406     11617       12.46
6486103     WI_3  HOUSEHOLD_2_406     11618       12.46
6486104     WI_3  HOUSEHOLD_2_406     11619       12.46
6486105     WI_3  HOUSEHOLD_2_406     11620       12.46
6486106     WI_3  HOUSEHOLD_2_406     11621       12.46

[281 rows x 4 columns]

In [284]:
display(test.to_string())

'        store_id          item_id  wm_yr_wk  sell_price\n6485826     WI_3  HOUSEHOLD_2_406     11102       12.47\n6485827     WI_3  HOUSEHOLD_2_406     11103       12.47\n6485828     WI_3  HOUSEHOLD_2_406     11104       12.47\n6485829     WI_3  HOUSEHOLD_2_406     11105       12.47\n6485830     WI_3  HOUSEHOLD_2_406     11106       12.47\n6485831     WI_3  HOUSEHOLD_2_406     11107       12.47\n6485832     WI_3  HOUSEHOLD_2_406     11108       12.47\n6485833     WI_3  HOUSEHOLD_2_406     11109       12.47\n6485834     WI_3  HOUSEHOLD_2_406     11110       12.47\n6485835     WI_3  HOUSEHOLD_2_406     11111       12.47\n6485836     WI_3  HOUSEHOLD_2_406     11112       12.47\n6485837     WI_3  HOUSEHOLD_2_406     11113       12.47\n6485838     WI_3  HOUSEHOLD_2_406     11114       12.47\n6485839     WI_3  HOUSEHOLD_2_406     11115       12.47\n6485840     WI_3  HOUSEHOLD_2_406     11116       12.47\n6485841     WI_3  HOUSEHOLD_2_406     11117       12.47\n6485842     WI_3  HOUSEHOLD_2_406     11118       12.47\n6485843     WI_3  HOUSEHOLD_2_406     11119       12.47\n6485844     WI_3  HOUSEHOLD_2_406     11120       12.47\n6485845     WI_3  HOUSEHOLD_2_406     11121       12.47\n6485846     WI_3  HOUSEHOLD_2_406     11122       12.47\n6485847     WI_3  HOUSEHOLD_2_406     11123       12.47\n6485848     WI_3  HOUSEHOLD_2_406     11124       12.47\n6485849     WI_3  HOUSEHOLD_2_406     11125       12.47\n6485850     WI_3  HOUSEHOLD_2_406     11126       12.47\n6485851     WI_3  HOUSEHOLD_2_406     11127       12.47\n6485852     WI_3  HOUSEHOLD_2_406     11128       12.47\n6485853     WI_3  HOUSEHOLD_2_406     11129       12.47\n6485854     WI_3  HOUSEHOLD_2_406     11130       12.47\n6485855     WI_3  HOUSEHOLD_2_406     11131       12.47\n6485856     WI_3  HOUSEHOLD_2_406     11132       12.47\n6485857     WI_3  HOUSEHOLD_2_406     11133       12.47\n6485858     WI_3  HOUSEHOLD_2_406     11134       12.47\n6485859     WI_3  HOUSEHOLD_2_406     11135       12.47\n6485860     WI_3  HOUSEHOLD_2_406     11136       12.47\n6485861     WI_3  HOUSEHOLD_2_406     11137       12.47\n6485862     WI_3  HOUSEHOLD_2_406     11138       12.47\n6485863     WI_3  HOUSEHOLD_2_406     11139       12.47\n6485864     WI_3  HOUSEHOLD_2_406     11140       12.47\n6485865     WI_3  HOUSEHOLD_2_406     11141       12.47\n6485866     WI_3  HOUSEHOLD_2_406     11142       12.47\n6485867     WI_3  HOUSEHOLD_2_406     11143       12.47\n6485868     WI_3  HOUSEHOLD_2_406     11144       12.47\n6485869     WI_3  HOUSEHOLD_2_406     11145       12.47\n6485870     WI_3  HOUSEHOLD_2_406     11146       12.47\n6485871     WI_3  HOUSEHOLD_2_406     11147       12.47\n6485872     WI_3  HOUSEHOLD_2_406     11148       12.47\n6485873     WI_3  HOUSEHOLD_2_406     11149       12.47\n6485874     WI_3  HOUSEHOLD_2_406     11150       12.47\n6485875     WI_3  HOUSEHOLD_2_406     11151       12.47\n6485876     WI_3  HOUSEHOLD_2_406     11152       12.47\n6485877     WI_3  HOUSEHOLD_2_406     11201       12.47\n6485878     WI_3  HOUSEHOLD_2_406     11202       12.47\n6485879     WI_3  HOUSEHOLD_2_406     11203       12.47\n6485880     WI_3  HOUSEHOLD_2_406     11204       12.47\n6485881     WI_3  HOUSEHOLD_2_406     11205       12.47\n6485882     WI_3  HOUSEHOLD_2_406     11206       12.47\n6485883     WI_3  HOUSEHOLD_2_406     11207       12.47\n6485884     WI_3  HOUSEHOLD_2_406     11208       12.47\n6485885     WI_3  HOUSEHOLD_2_406     11209       12.47\n6485886     WI_3  HOUSEHOLD_2_406     11210       12.47\n6485887     WI_3  HOUSEHOLD_2_406     11211       12.47\n6485888     WI_3  HOUSEHOLD_2_406     11212       12.47\n6485889     WI_3  HOUSEHOLD_2_406     11213       12.47\n6485890     WI_3  HOUSEHOLD_2_406     11214       12.47\n6485891     WI_3  HOUSEHOLD_2_406     11215       12.47\n6485892     WI_3  HOUSEHOLD_2_406     11216       12.47\n6485893     WI_3  HOUSEHOLD_2_406     11217       12.47\n6485894     WI_3  HOUSEHOLD_2_406     11218       12.47\n6485895     WI_3  HOUSEHOLD_2_406     11219       12.47\n6485896     WI_3  HOUSEHOLD_2_406     11220       12.47\n6485897     WI_3  HOUSEHOLD_2_406     11221       12.47\n6485898     WI_3  HOUSEHOLD_2_406     11222       12.47\n6485899     WI_3  HOUSEHOLD_2_406     11223       12.47\n6485900     WI_3  HOUSEHOLD_2_406     11224       12.47\n6485901     WI_3  HOUSEHOLD_2_406     11225       12.47\n6485902     WI_3  HOUSEHOLD_2_406     11226       12.47\n6485903     WI_3  HOUSEHOLD_2_406     11227       12.47\n6485904     WI_3  HOUSEHOLD_2_406     11228       12.47\n6485905     WI_3  HOUSEHOLD_2_406     11229       12.47\n6485906     WI_3  HOUSEHOLD_2_406     11230       12.47\n6485907     WI_3  HOUSEHOLD_2_406     11231       12.47\n6485908     WI_3  HOUSEHOLD_2_406     11232       12.47\n6485909     WI_3  HOUSEHOLD_2_406     11233       12.47\n6485910     WI_3  HOUSEHOLD_2_406     11234       12.47\n6485911     WI_3  HOUSEHOLD_2_406     11235       12.47\n6485912     WI_3  HOUSEHOLD_2_406     11236       12.47\n6485913     WI_3  HOUSEHOLD_2_406     11237       12.47\n6485914     WI_3  HOUSEHOLD_2_406     11238       12.47\n6485915     WI_3  HOUSEHOLD_2_406     11239       12.47\n6485916     WI_3  HOUSEHOLD_2_406     11240       12.47\n6485917     WI_3  HOUSEHOLD_2_406     11241       12.47\n6485918     WI_3  HOUSEHOLD_2_406     11242        3.26\n6485919     WI_3  HOUSEHOLD_2_406     11243        3.26\n6485920     WI_3  HOUSEHOLD_2_406     11244        3.26\n6485921     WI_3  HOUSEHOLD_2_406     11245        3.26\n6485922     WI_3  HOUSEHOLD_2_406     11246        3.26\n6485923     WI_3  HOUSEHOLD_2_406     11247        3.26\n6485924     WI_3  HOUSEHOLD_2_406     11248        3.26\n6485925     WI_3  HOUSEHOLD_2_406     11249        3.26\n6485926     WI_3  HOUSEHOLD_2_406     11250        3.26\n6485927     WI_3  HOUSEHOLD_2_406     11251        3.26\n6485928     WI_3  HOUSEHOLD_2_406     11252        3.26\n6485929     WI_3  HOUSEHOLD_2_406     11301       12.46\n6485930     WI_3  HOUSEHOLD_2_406     11302       12.46\n6485931     WI_3  HOUSEHOLD_2_406     11303       12.46\n6485932     WI_3  HOUSEHOLD_2_406     11304       12.46\n6485933     WI_3  HOUSEHOLD_2_406     11305       12.46\n6485934     WI_3  HOUSEHOLD_2_406     11306       12.46\n6485935     WI_3  HOUSEHOLD_2_406     11307       12.46\n6485936     WI_3  HOUSEHOLD_2_406     11308       12.46\n6485937     WI_3  HOUSEHOLD_2_406     11309       12.46\n6485938     WI_3  HOUSEHOLD_2_406     11310       12.46\n6485939     WI_3  HOUSEHOLD_2_406     11311       12.46\n6485940     WI_3  HOUSEHOLD_2_406     11312       12.46\n6485941     WI_3  HOUSEHOLD_2_406     11313       12.46\n6485942     WI_3  HOUSEHOLD_2_406     11314       12.46\n6485943     WI_3  HOUSEHOLD_2_406     11315       12.46\n6485944     WI_3  HOUSEHOLD_2_406     11316       12.46\n6485945     WI_3  HOUSEHOLD_2_406     11317      107.32\n6485946     WI_3  HOUSEHOLD_2_406     11318      107.32\n6485947     WI_3  HOUSEHOLD_2_406     11319      107.32\n6485948     WI_3  HOUSEHOLD_2_406     11320       12.46\n6485949     WI_3  HOUSEHOLD_2_406     11321       12.46\n6485950     WI_3  HOUSEHOLD_2_406     11322       12.46\n6485951     WI_3  HOUSEHOLD_2_406     11323       12.46\n6485952     WI_3  HOUSEHOLD_2_406     11324       12.46\n6485953     WI_3  HOUSEHOLD_2_406     11325       12.46\n6485954     WI_3  HOUSEHOLD_2_406     11326       12.46\n6485955     WI_3  HOUSEHOLD_2_406     11327       12.46\n6485956     WI_3  HOUSEHOLD_2_406     11328       12.46\n6485957     WI_3  HOUSEHOLD_2_406     11329       12.46\n6485958     WI_3  HOUSEHOLD_2_406     11330       12.46\n6485959     WI_3  HOUSEHOLD_2_406     11331       12.46\n6485960     WI_3  HOUSEHOLD_2_406     11332       12.46\n6485961     WI_3  HOUSEHOLD_2_406     11333       12.46\n6485962     WI_3  HOUSEHOLD_2_406     11334       12.46\n6485963     WI_3  HOUSEHOLD_2_406     11335       12.46\n6485964     WI_3  HOUSEHOLD_2_406     11336       12.46\n6485965     WI_3  HOUSEHOLD_2_406     11337       12.46\n6485966     WI_3  HOUSEHOLD_2_406     11338       12.46\n6485967     WI_3  HOUSEHOLD_2_406     11339       12.46\n6485968     WI_3  HOUSEHOLD_2_406     11340       12.46\n6485969     WI_3  HOUSEHOLD_2_406     11341       12.46\n6485970     WI_3  HOUSEHOLD_2_406     11342       12.46\n6485971     WI_3  HOUSEHOLD_2_406     11343       12.46\n6485972     WI_3  HOUSEHOLD_2_406     11344       12.46\n6485973     WI_3  HOUSEHOLD_2_406     11345       12.46\n6485974     WI_3  HOUSEHOLD_2_406     11346       12.46\n6485975     WI_3  HOUSEHOLD_2_406     11347       12.46\n6485976     WI_3  HOUSEHOLD_2_406     11348       12.46\n6485977     WI_3  HOUSEHOLD_2_406     11349       12.46\n6485978     WI_3  HOUSEHOLD_2_406     11350       12.46\n6485979     WI_3  HOUSEHOLD_2_406     11351       12.46\n6485980     WI_3  HOUSEHOLD_2_406     11352       12.46\n6485981     WI_3  HOUSEHOLD_2_406     11353       12.46\n6485982     WI_3  HOUSEHOLD_2_406     11401       12.46\n6485983     WI_3  HOUSEHOLD_2_406     11402       12.46\n6485984     WI_3  HOUSEHOLD_2_406     11403       12.46\n6485985     WI_3  HOUSEHOLD_2_406     11404       12.46\n6485986     WI_3  HOUSEHOLD_2_406     11405       12.46\n6485987     WI_3  HOUSEHOLD_2_406     11406       12.46\n6485988     WI_3  HOUSEHOLD_2_406     11407       12.46\n6485989     WI_3  HOUSEHOLD_2_406     11408       12.46\n6485990     WI_3  HOUSEHOLD_2_406     11409       12.46\n6485991     WI_3  HOUSEHOLD_2_406     11410       12.46\n6485992     WI_3  HOUSEHOLD_2_406     11411       12.46\n6485993     WI_3  HOUSEHOLD_2_406     11412       12.46\n6485994     WI_3  HOUSEHOLD_2_406     11413       12.46\n6485995     WI_3  HOUSEHOLD_2_406     11414       12.46\n6485996     WI_3  HOUSEHOLD_2_406     11415       12.46\n6485997     WI_3  HOUSEHOLD_2_406     11416       12.46\n6485998     WI_3  HOUSEHOLD_2_406     11417       12.46\n6485999     WI_3  HOUSEHOLD_2_406     11418       12.46\n6486000     WI_3  HOUSEHOLD_2_406     11419       12.46\n6486001     WI_3  HOUSEHOLD_2_406     11420       12.46\n6486002     WI_3  HOUSEHOLD_2_406     11421       12.46\n6486003     WI_3  HOUSEHOLD_2_406     11422       12.46\n6486004     WI_3  HOUSEHOLD_2_406     11423       12.46\n6486005     WI_3  HOUSEHOLD_2_406     11424       12.46\n6486006     WI_3  HOUSEHOLD_2_406     11425       12.46\n6486007     WI_3  HOUSEHOLD_2_406     11426       12.46\n6486008     WI_3  HOUSEHOLD_2_406     11427       12.46\n6486009     WI_3  HOUSEHOLD_2_406     11428       12.46\n6486010     WI_3  HOUSEHOLD_2_406     11429       12.46\n6486011     WI_3  HOUSEHOLD_2_406     11430       12.46\n6486012     WI_3  HOUSEHOLD_2_406     11431       12.46\n6486013     WI_3  HOUSEHOLD_2_406     11432       12.46\n6486014     WI_3  HOUSEHOLD_2_406     11433       12.46\n6486015     WI_3  HOUSEHOLD_2_406     11434       12.46\n6486016     WI_3  HOUSEHOLD_2_406     11435       12.46\n6486017     WI_3  HOUSEHOLD_2_406     11436       12.46\n6486018     WI_3  HOUSEHOLD_2_406     11437       12.46\n6486019     WI_3  HOUSEHOLD_2_406     11438       12.46\n6486020     WI_3  HOUSEHOLD_2_406     11439       12.46\n6486021     WI_3  HOUSEHOLD_2_406     11440       12.46\n6486022     WI_3  HOUSEHOLD_2_406     11441       12.46\n6486023     WI_3  HOUSEHOLD_2_406     11442       12.46\n6486024     WI_3  HOUSEHOLD_2_406     11443       12.46\n6486025     WI_3  HOUSEHOLD_2_406     11444       12.46\n6486026     WI_3  HOUSEHOLD_2_406     11445       12.46\n6486027     WI_3  HOUSEHOLD_2_406     11446       12.46\n6486028     WI_3  HOUSEHOLD_2_406     11447       12.46\n6486029     WI_3  HOUSEHOLD_2_406     11448       12.46\n6486030     WI_3  HOUSEHOLD_2_406     11449       12.46\n6486031     WI_3  HOUSEHOLD_2_406     11450       12.46\n6486032     WI_3  HOUSEHOLD_2_406     11451       12.46\n6486033     WI_3  HOUSEHOLD_2_406     11452       12.46\n6486034     WI_3  HOUSEHOLD_2_406     11501       12.46\n6486035     WI_3  HOUSEHOLD_2_406     11502       12.46\n6486036     WI_3  HOUSEHOLD_2_406     11503       12.46\n6486037     WI_3  HOUSEHOLD_2_406     11504       12.46\n6486038     WI_3  HOUSEHOLD_2_406     11505       12.46\n6486039     WI_3  HOUSEHOLD_2_406     11506       12.46\n6486040     WI_3  HOUSEHOLD_2_406     11507       12.46\n6486041     WI_3  HOUSEHOLD_2_406     11508       12.46\n6486042     WI_3  HOUSEHOLD_2_406     11509       12.46\n6486043     WI_3  HOUSEHOLD_2_406     11510       12.46\n6486044     WI_3  HOUSEHOLD_2_406     11511       12.46\n6486045     WI_3  HOUSEHOLD_2_406     11512       12.46\n6486046     WI_3  HOUSEHOLD_2_406     11513       12.46\n6486047     WI_3  HOUSEHOLD_2_406     11514       12.46\n6486048     WI_3  HOUSEHOLD_2_406     11515       12.46\n6486049     WI_3  HOUSEHOLD_2_406     11516       12.46\n6486050     WI_3  HOUSEHOLD_2_406     11517       12.46\n6486051     WI_3  HOUSEHOLD_2_406     11518       12.46\n6486052     WI_3  HOUSEHOLD_2_406     11519       12.46\n6486053     WI_3  HOUSEHOLD_2_406     11520       12.46\n6486054     WI_3  HOUSEHOLD_2_406     11521       12.46\n6486055     WI_3  HOUSEHOLD_2_406     11522       12.46\n6486056     WI_3  HOUSEHOLD_2_406     11523       12.46\n6486057     WI_3  HOUSEHOLD_2_406     11524       12.46\n6486058     WI_3  HOUSEHOLD_2_406     11525       12.46\n6486059     WI_3  HOUSEHOLD_2_406     11526       12.46\n6486060     WI_3  HOUSEHOLD_2_406     11527       12.46\n6486061     WI_3  HOUSEHOLD_2_406     11528       12.46\n6486062     WI_3  HOUSEHOLD_2_406     11529       12.46\n6486063     WI_3  HOUSEHOLD_2_406     11530       12.46\n6486064     WI_3  HOUSEHOLD_2_406     11531       12.46\n6486065     WI_3  HOUSEHOLD_2_406     11532       12.46\n6486066     WI_3  HOUSEHOLD_2_406     11533       12.46\n6486067     WI_3  HOUSEHOLD_2_406     11534       12.46\n6486068     WI_3  HOUSEHOLD_2_406     11535       12.46\n6486069     WI_3  HOUSEHOLD_2_406     11536       12.46\n6486070     WI_3  HOUSEHOLD_2_406     11537       12.46\n6486071     WI_3  HOUSEHOLD_2_406     11538       12.46\n6486072     WI_3  HOUSEHOLD_2_406     11539       12.46\n6486073     WI_3  HOUSEHOLD_2_406     11540       12.46\n6486074     WI_3  HOUSEHOLD_2_406     11541       12.46\n6486075     WI_3  HOUSEHOLD_2_406     11542       12.46\n6486076     WI_3  HOUSEHOLD_2_406     11543       12.46\n6486077     WI_3  HOUSEHOLD_2_406     11544       12.46\n6486078     WI_3  HOUSEHOLD_2_406     11545       12.46\n6486079     WI_3  HOUSEHOLD_2_406     11546       12.46\n6486080     WI_3  HOUSEHOLD_2_406     11547       12.46\n6486081     WI_3  HOUSEHOLD_2_406     11548       12.46\n6486082     WI_3  HOUSEHOLD_2_406     11549       12.46\n6486083     WI_3  HOUSEHOLD_2_406     11550       12.46\n6486084     WI_3  HOUSEHOLD_2_406     11551       12.46\n6486085     WI_3  HOUSEHOLD_2_406     11552       12.46\n6486086     WI_3  HOUSEHOLD_2_406     11601       12.46\n6486087     WI_3  HOUSEHOLD_2_406     11602       12.46\n6486088     WI_3  HOUSEHOLD_2_406     11603       12.46\n6486089     WI_3  HOUSEHOLD_2_406     11604       12.46\n6486090     WI_3  HOUSEHOLD_2_406     11605       12.46\n6486091     WI_3  HOUSEHOLD_2_406     11606       12.46\n6486092     WI_3  HOUSEHOLD_2_406     11607       12.46\n6486093     WI_3  HOUSEHOLD_2_406     11608       12.46\n6486094     WI_3  HOUSEHOLD_2_406     11609       12.46\n6486095     WI_3  HOUSEHOLD_2_406     11610       12.46\n6486096     WI_3  HOUSEHOLD_2_406     11611       12.46\n6486097     WI_3  HOUSEHOLD_2_406     11612       12.46\n6486098     WI_3  HOUSEHOLD_2_406     11613       12.46\n6486099     WI_3  HOUSEHOLD_2_406     11614       12.46\n6486100     WI_3  HOUSEHOLD_2_406     11615       12.46\n6486101     WI_3  HOUSEHOLD_2_406     11616       12.46\n6486102     WI_3  HOUSEHOLD_2_406     11617       12.46\n6486103     WI_3  HOUSEHOLD_2_406     11618       12.46\n6486104     WI_3  HOUSEHOLD_2_406     11619       12.46\n6486105     WI_3  HOUSEHOLD_2_406     11620       12.46\n6486106     WI_3  HOUSEHOLD_2_406     11621       12.46'

In [287]:
dates=test.loc[test["sell_price"] >13]["wm_yr_wk"]

In [295]:
start_week="week"+str((int(str(sell_prices.iloc[0,2])[2])*52-52+int(str(sell_prices.iloc[0,2])[3:])))
x=result_df.loc[1][start_week:].values.tolist()
y=sell_prices.iloc[0:146,3].values.tolist()

In [306]:
start_week=dates.iloc[0]

In [309]:
start_week
x=result_df.loc[1][start_week:].values.tolist()

In [318]:
result=result_df.loc[result_df["item_id"]=="HOUSEHOLD_2_406"]

In [320]:
result=result.loc[result["store_id"]=="WI_3"]

In [355]:
x=result.iloc[:,6:].values.tolist()

In [356]:
x=x[0]

In [364]:
x[115:125]

[0, 5, 2, 2, 1, 0, 0, 1, 2, 0]

In [ ]:
y=sell_prices.iloc[0:146,3].values.tolist()

In [346]:
test=test["sell_price"].values.tolist()

In [358]:
test[121]

107.32

In [349]:
x= sm.add_constant(x)

In [353]:
sm.OLS(test[0:-8],x).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                 -0.002
Method:                 Least Squares   F-statistic:                    0.4219
Date:                Wed, 06 Mar 2024   Prob (F-statistic):              0.517
Time:                        11:46:06   Log-Likelihood:                -1018.3
No. Observations:                 273   AIC:                             2041.
Df Residuals:                     271   BIC:                             2048.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         13.5041      0.835     16.164      0.000      11.859      15.149
x1            -0.2854      0.439     -0.650      0.517      -1.150       0.580
==============================================================================
Omnibus:                      448.838   Durbin-Watson:                   0.654
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            75832.290
Skew:                           8.834   Prob(JB):                         0.00
Kurtosis:                      82.714   Cond. No.                         2.97
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""