# Calculate Price Elasticity of Demand

In [14]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm

In [3]:
final_sell_calendar_households = pd.read_csv('final_sell_calendar_households.csv')

In [4]:
final_sell_calendar_hobbies = pd.read_csv('final_sell_calendar_hobbies.csv')

In [5]:
final_sell_calendar_foods = pd.read_csv('final_sell_calendar_foods.csv')

In [6]:
def calculate_ped(group):
    X = sm.add_constant(group['sell_price'])
    model = sm.OLS(group['amount'], X).fit()
    price_coef = model.params['sell_price']
    mean_sellprice = np.mean(group['sell_price'])
    mean_quantity = np.mean(group['amount'])
    ped = price_coef * (mean_sellprice / mean_quantity)
    return ped

## Calculate PED of hobbies items

In [8]:
final_sell_calendar_hobbies =final_sell_calendar_hobbies.drop(final_sell_calendar_hobbies.columns[0], axis =1)

In [9]:
final_sell_calendar_hobbies

,id,wm_yr_wk,sell_price,d,year,month,wday,date,amount,number
0,HOBBIES_1_001_CA_1,11325,9.58,d_897,2013,7,1,2013-07-13,0,897
1,HOBBIES_1_001_CA_1,11325,9.58,d_898,2013,7,2,2013-07-14,0,898
2,HOBBIES_1_001_CA_1,11325,9.58,d_899,2013,7,3,2013-07-15,0,899
3,HOBBIES_1_001_CA_1,11325,9.58,d_900,2013,7,4,2013-07-16,0,900
4,HOBBIES_1_001_CA_1,11325,9.58,d_901,2013,7,5,2013-07-17,0,901
...,...,...,...,...,...,...,...,...,...,...
8642680,HOBBIES_2_148_WI_3,11105,0.97,d_31,2011,2,3,2011-02-28,0,31
8642681,HOBBIES_2_148_WI_3,11105,0.97,d_32,2011,3,4,2011-03-01,0,32
8642682,HOBBIES_2_148_WI_3,11105,0.97,d_33,2011,3,5,2011-03-02,0,33
8642683,HOBBIES_2_148_WI_3,11105,0.97,d_34,2011,3,6,2011-03-03,0,34
8642684,HOBBIES_2_148_WI_3,11105,0.97,d_35,2011,3,7,2011-03-04,0,35

In [10]:
final_sell_calendar_hobbies[['cat_id','dept_id','item_id', 'state_id','store_id']] = final_sell_calendar_hobbies['id'].str.split('_', expand=True)

In [15]:
ped_id = final_sell_calendar_hobbies.groupby('id').apply(calculate_ped)
print("PED by id")
print(ped_id)

/Users/chloeang/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

PED by id
id
HOBBIES_1_001_CA_1    -5.097742
HOBBIES_1_001_CA_2    35.232799
HOBBIES_1_001_CA_3    34.909486
HOBBIES_1_001_CA_4    -4.440415
HOBBIES_1_001_TX_1     0.833142
                        ...
HOBBIES_2_149_TX_2    -1.109734
HOBBIES_2_149_TX_3    -0.940017
HOBBIES_2_149_WI_1    -1.222426
HOBBIES_2_149_WI_2    -0.790498
HOBBIES_2_149_WI_3    -1.312173
Length: 5650, dtype: float64

In [17]:
ped_item_id = final_sell_calendar_hobbies.groupby('item_id').apply(calculate_ped)
ped_item_id = ped_item_id.to_frame()
ped_item_id = ped_item_id.reset_index()

PED by item id
item_id
001    3.978094
002    0.376649
003   -1.100386
004    2.916829
005   -3.049954
         ...
420    0.012902
421   -2.901577
422   -2.203539
423   -0.878666
424    1.420512
Length: 420, dtype: float64

In [22]:
ped_item_dept_id = final_sell_calendar_hobbies.groupby(['item_id','dept_id']).apply(calculate_ped)
ped_item_dept_id = ped_item_dept_id.to_frame()
ped_item_dept_id =ped_item_dept_id.reset_index()

PED by item id and dept id
item_id  dept_id
001      1         -6.313660
         2         -0.151866
002      1          1.685968
         2          0.218097
003      1         -0.221408
                      ...
420      1          0.012902
421      1         -2.901577
422      1         -2.203539
423      1         -0.878666
424      1          1.420512
Length: 565, dtype: float64

In [40]:
ped_item_dept_state_id = final_sell_calendar_hobbies.groupby(['item_id','dept_id','state_id']).apply(calculate_ped)
ped_item_dept_state_id = ped_item_dept_state_id.to_frame()
ped_item_dept_state_id = ped_item_dept_state_id.reset_index()

/Users/chloeang/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [47]:
ped_item_dept_state_store_id = final_sell_calendar_hobbies.groupby(['item_id','dept_id','state_id','store_id']).apply(calculate_ped)
ped_item_dept_state_store_id = ped_item_dept_state_store_id.to_frame()
ped_item_dept_state_store_id = ped_item_dept_state_store_id.reset_index()

/Users/chloeang/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [85]:
a = ped_item_id.merge(ped_item_dept_id,left_on = 'item_id', right_on='item_id')
a

    item_id       0_x dept_id       0_y
0       001  3.978094       1 -6.313660
1       001  3.978094       2 -0.151866
2       002  0.376649       1  1.685968
3       002  0.376649       2  0.218097
4       003 -1.100386       1 -0.221408
..      ...       ...     ...       ...
560     420  0.012902       1  0.012902
561     421 -2.901577       1 -2.901577
562     422 -2.203539       1 -2.203539
563     423 -0.878666       1 -0.878666
564     424  1.420512       1  1.420512

[565 rows x 4 columns]

In [86]:
b = a.merge(ped_item_dept_state_id,left_on =['item_id','dept_id'],right_on =['item_id','dept_id'])

     item_id       0_x dept_id       0_y state_id          0
0        001  3.978094       1 -6.313660       CA  -4.384036
1        001  3.978094       1 -6.313660       TX   0.174109
2        001  3.978094       1 -6.313660       WI -10.304710
3        001  3.978094       2 -0.151866       CA  -1.848419
4        001  3.978094       2 -0.151866       TX   0.259439
...      ...       ...     ...       ...      ...        ...
1690     423 -0.878666       1 -0.878666       TX   2.607444
1691     423 -0.878666       1 -0.878666       WI  -2.425794
1692     424  1.420512       1  1.420512       CA  -2.579196
1693     424  1.420512       1  1.420512       TX  -2.743452
1694     424  1.420512       1  1.420512       WI  -3.536496

[1695 rows x 6 columns]

In [87]:
c = b.merge(ped_item_dept_state_store_id,left_on =['item_id','dept_id','state_id'],right_on =['item_id','dept_id','state_id'])
c

/Users/chloeang/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:9190: FutureWarning: Passing 'suffixes' which cause duplicate columns {'0_x'} in the result is deprecated and will raise a MergeError in a future version.
  return merge(

,item_id,0_x,dept_id,0_y,state_id,0_x,store_id,0_y
0,001,3.978094,1,-6.313660,CA,-4.384036,1,-5.097742
1,001,3.978094,1,-6.313660,CA,-4.384036,2,35.232799
2,001,3.978094,1,-6.313660,CA,-4.384036,3,34.909486
3,001,3.978094,1,-6.313660,CA,-4.384036,4,-4.440415
4,001,3.978094,1,-6.313660,TX,0.174109,1,0.833142
...,...,...,...,...,...,...,...,...
5645,424,1.420512,1,1.420512,TX,-2.743452,2,-1.997759
5646,424,1.420512,1,1.420512,TX,-2.743452,3,-0.580792
5647,424,1.420512,1,1.420512,WI,-3.536496,1,-3.177566
5648,424,1.420512,1,1.420512,WI,-3.536496,2,-2.644528
5649,424,1.420512,1,1.420512,WI,-3.536496,3,-12.129071

In [88]:
hobbies_ped = c.rename(columns={"0_x": "a", "0_y": "b", "0_y": "c"})

In [90]:
hobbies_ped.to_csv('hobbies_ped.csv')